<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0k Server</title>
    <link rel="stylesheet" href="/static/mainstyle.css">
</head>
<body>
    <h1>Welcome.</h1>
    You are now at 0kayf1n3's page. Say hi at <a href="https://twitter.com/@0kayf1n3">Twitter</a>.
    <br>
    Convenience pages: <a href="/stats">stats</a>
    <br>
    This server is running v1.1.0. (Fixed UI and stats)
</body>
</html>